@charset "utf-8";
/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Dinglong Zhang
   Date: 2020/10/7

   Filename:         hcc_styles.css
   Supporting files: 

*/
header > img {
	float: left;
	height: 60px;
}

header > h1 {
	color: rgb(86,206,184);
	font-size: 50px;
}

header > nav {
	display: table;
	width: 100%;
	background-color: rgb(86,206,184);
}

header > nav > ul {
	display: table-row;
	list-style-type: none;
}

header > nav > ul > li {
	display: table-cell;
	text-align: center;
	width: 7%;
}

header > nav a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: white;
	text-align: left;
}

nav#rightnav {
	text-align: right;
}

body > p#p1 ,body > p#p2 {
	width: 25%;
	float: left;
	padding-left: 40px;
}

table#table1 {
	width: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-collapse:separate;
	border-spacing:0px;
	border: 5px solid rgb(86,206,184);
	border-radius: 20px;
	
}

footer {
	text-align: center;
	background-color: rgb(86,206,184);
	color: white;
}